Repository kunalbehrunani/snake-and-ladder: changes, and which lint-staged commands are due for each by the changed paths.
All: prettier --write, eslint

.lintstagedrc.json:

{
  "*.ts": ["prettier --write", "eslint"],
  "*.jsonc": ["prettier --write"]
}

feat: game module & entities
  src/game/game.module.ts
  src/game/game.service.ts
  src/game/repositories/block.repository.ts
  src/game/repositories/ladder.repository.ts
  src/game/repositories/player.repository.ts
  src/game/repositories/snake.repository.ts
  src/game/schemas/block.schema.ts
  src/game/schemas/ladder.schema.ts
  src/game/schemas/player.schema.ts
  src/game/schemas/snake.schema.ts
Due: prettier --write, eslint

feat: added file for user inputs
  .prettierrc
  input/input.jsonc
Due: prettier --write

feat: fetch user input and initialise entities
  input/input.jsonc
  package.json
  src/app.module.ts
  src/game/game.module.ts
  src/game/game.service.ts
  src/game/repositories/board.repository.ts
  src/game/repositories/ladder.repository.ts
  src/game/repositories/snake.repository.ts
  src/game/schemas/block.schema.ts
  src/game/schemas/ladder.schema.ts
  src/game/schemas/player.schema.ts
  src/game/schemas/snake.schema.ts
Due: prettier --write, eslint

feat: initialise empty board with all snakes & ladders
  src/game/game.service.ts
  src/game/repositories/board.repository.ts
  src/game/schemas/snake.schema.ts
Due: prettier --write, eslint

feat: added logics for dice rolling
  src/game/game.service.ts
Due: prettier --write, eslint

feat: added logic for gameplay
  src/game/game.service.ts
  src/game/repositories/board.repository.ts
  src/game/repositories/player.repository.ts
  src/game/schemas/block.schema.ts
  src/game/schemas/player.schema.ts
Due: prettier --write, eslint

fix: updated log format
  src/game/game.service.ts
  src/game/repositories/board.repository.ts
Due: prettier --write, eslint

fix: updated inputs for testing
  input/input.jsonc
Due: prettier --write

feat: added logic for overruling players
  src/game/game.service.ts
  src/game/repositories/board.repository.ts
Due: prettier --write, eslint

feat: added logic to log board after every turn
  src/game/game.service.ts
  src/game/repositories/board.repository.ts
Due: prettier --write, eslint

fix: removed obsolete file - block repository
  src/game/repositories/block.repository.ts
Due: prettier --write, eslint

fix: updated validations for ladder & snake schema
  src/game/schemas/ladder.schema.ts
  src/game/schemas/snake.schema.ts
Due: prettier --write, eslint

fix: updated README.md
  README.md
Due: none

fix: updated comments in input.jsonc file
  input/input.jsonc
  src/game/repositories/board.repository.ts
Due: prettier --write, eslint

fix: updated descriptions
  src/game/game.service.ts
  src/game/repositories/board.repository.ts
Due: prettier --write, eslint
